.main{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80vh;
    position: relative;
    /* border: #00b41e 1px solid; */
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.frame{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    position: relative;

}